<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="#{ACCESSKEY}"/>
    <add key="AWSSecretKey" value="#{SECRETKEY}"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=prodserver.mycompany.com;Database=Prod-Database;Integrated Security=SSPI" />
  </connectionStrings>
  <applicationSettings>
    <AppSettings.Properties.Settings>
      <setting name="WelcomeMessage" serializeAs="#{ACCESSKEY}">
        <value>Hello customer!</value>
      </setting>
    </AppSettings.Properties.Settings>
  </applicationSettings>
</configuration>
